body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .container {
    margin: 50px auto;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(120deg, #a1c4fd, #c2e9fb);
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #searchQuery {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    width: 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  #searchButton {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f9d423;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  #searchButton:hover {
    background-color: #ff5722;
  }

  #greetingsTableBody {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-top: 40px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  th, td {
    padding: 12px 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }